<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button id="changeBtn">비밀번호 변경하기</button>
</body>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        let authBtn = document.getElementById("changeBtn");

        // window.location.search: 쿼리 파라미터 읽어옴
        // window.location : 전체 URL 읽어옴
        let urlSearchParams = new URLSearchParams(window.location.search);
        console.log(urlSearchParams.toString());

        authBtn.onclick = function () {
            console.log(document.cookie)
            fetch('http://localhost:8080/api/v1/auth/change-password', {
                method: 'post',
                body: {
                    authKey: document.cookie
                },
            }).then((response) => {
                console.log(response);
            });
        };
    });
</script>
</html>